
## Home Task

The Task is to extract relevant infromation from the messy medical data using regex.

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

1) Extract the date strings
Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

2) Normalize the extracted dates considering the following rules:  
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).

3) Sort records in ascending chronological order accoring.

### Get data

In [159]:
import numpy as np
import pandas as pd
import re

In [160]:
def get_data():
    with open('dates.txt', 'r') as file:
        data = file.read()
    
    return data
    
data = get_data()
print(data[:500])

03/25/93 Total time of visit (in minutes):
6/18/85 Primary Care Doctor:
sshe plans to move as of 7/8/71 In-Home Services: None
7 on 9/27/75 Audit C Score Current:
2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7
.Per 7/06/79 Movement D/O note:
4, 5/18/78 Patient's thoughts about current substance abuse:
10/24/89 CPT Code: 90801 - Psychiatric Diagnosis Interview
3/7/86 SOS-10 Total Score:
(4/10/71)Score-1Audit C Score Current:
(5/11/85) Crt-1.96, BUN-26; AST/ALT-16/22; WBC_12.6Activ

### Extract the date strings

In [161]:
def extract_date(data):
    # Define the date patterns
    date_patterns = [
        r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}',  # 08/11/1953, 8/11/53, 8/11/1953, 8/3/53
        r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.]* \d{1,2}[-,]* \d{4}',  # Jan-11-1953; Jan 11, 1953; January 11, 1953
        r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.,]* \d{4}',  # 11 Feb 1953; 11 March 1953; 11 Mar. 1953
        r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{1,2}[a-z]*, \d{4}',  # Mar 11th, 1953; Mar 11st, 1953; Mar 11nd, 1953
        r'(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}',  # Feb 1953; Sep 1953; Oct 1953
        r'\d{1,2}/\d{4}',  # 6/1953, 12/1953
        r'[12]\d{3}'  # 1953, 1954
    ]

    
    date_pattern = '|'.join(date_patterns)

    extracted_data = re.findall(date_pattern, data)
        
    return extracted_data


extracted_data = extract_date(data)
print("Len: ",len(extracted_data))
extracted_data

Len:  501

['03/25/93',
 '6/18/85',
 '7/8/71',
 '9/27/75',
 '2/6/96',
 '7/06/79',
 '5/18/78',
 '10/24/89',
 '3/7/86',
 '4/10/71',
 '5/11/85',
 '4/09/75',
 '8/01/98',
 '1/26/72',
 '5/24/1990',
 '1/25/2011',
 '4/12/82',
 '10/13/1976',
 '4/24/98',
 '5/21/77',
 '7/21/98',
 '10/21/79',
 '3/03/90',
 '2/11/76',
 '07/25/1984',
 '4-13-82',
 '9/22/89',
 '9/02/76',
 '9/12/71',
 '10/24/86',
 '03/31/1985',
 '7/20/72',
 '4/12/87',
 '06/20/91',
 '5/12/2012',
 '3/15/83',
 '2/14/73',
 '5/24/88',
 '7/27/1986',
 '1-14-81',
 '7-29-75',
 '6/24/87',
 '8/14/94',
 '4/13/2002',
 '8/16/82',
 '2/15/1998',
 '7/15/91',
 '06/12/94',
 '9/17/84',
 '2/28/75',
 '11/22/75',
 '5/24/91',
 '6/13/92',
 '7/11/71',
 '12/26/86',
 '10/11/1987',
 '3/14/95',
 '12/01/73',
 '12/5/2010',
 '08/20/1982',
 '7/24/95',
 '8/06/83',
 '02/22/92',
 '6/28/87',
 '07/29/1994',
 '08/11/78',
 '10/29/91',
 '7/6/91',
 '1/21/87',
 '11/3/1985',
 '7/04/82',
 '4-13-89',
 '7/11/77',
 '9/36/308',
 '4/12/74',
 '09/19/81',
 '9/6/79',
 '12/5/87',
 '01/05/1999',
 '4/22/80',
 '10/04/98',
 '6/29/81',
 '8/04/78',
 '7/07/1974',
 '09/14/2000',
 '5/18/71',
 '8/09/1981',
 '6/05/93',
 '8/9/97',
 '12/8/82',
 '8/26/89',
 '10/13/95',
 '4/19/91',
 '04/08/2004',
 '9/20/76',
 '12/08/1990',
 '4/11/1974',
 '7/18/86',
 '3/31/91',
 '5/13/72',
 '11/14/83',
 '8/16/92',
 '10/05/97',
 '07/18/2002',
 '9/22/82',
 '2/24/74',
 '2/03/78',
 '2/11/2006',
 '8/22/83',
 '5/04/74',
 '7/20/2011',
 '6/17/95',
 '6/10/72',
 '10/16/82',
 '12/15/92',
 '12/8/97',
 '4/05/89',
 '12/04/87',
 '6/20/77',
 '4/27/2006',
 '07/17/92',
 '12/22/98',
 '10/02/96',
 '11/05/90',
 '5/04/77',
 '2/27/96',
 '24 Jan 2001',
 '10 Sep 2004',
 '26 May 1982',
 '28 June 2002',
 '06 May 1972',
 '25 Oct 1987',
 '14 Oct 1996',
 '30 Nov 2007',
 '28 June 1994',
 '14 Jan 1981',
 '10 Oct 1985',
 '11 February 1985',
 '10 Feb 1983',
 '05 Feb 1992',
 '21 Oct 2012',
 '14 Feb 1995',
 '30 May 2016',
 '22 Jan 1996',
 '14 Oct 1992',
 '06 Oct 2003',
 '18 Oct 1999',
 '11 Nov 2004',
 '30 May 2001',
 '02 Feb 1978',
 '09 Sep 1989',
 '12 March 1980',
 '22 June 1990',
 '28 Sep 2015',
 '13 Jan 1972',
 '06 Mar 1974',
 '10 Oct 1974',
 '26 May 1974',
 '10 Feb 1990',
 '23 Aug 2000',
 '26 May 2001',
 '21 Oct 2007',
 '19 Oct 2016',
 '05 Mar 1974',
 '29 Jan 1994',
 '21 Oct 1978',
 '18 August 1975',
 '11 Nov 1996',
 '01 Oct 1979',
 '13 Oct 1986',
 '21 Oct 1995',
 '24 Jan 2011',
 '04 Oct 1972',
 '23 Aug 1993',
 '18 Oct 2006',
 '04 Dec 1988',
 '21 Oct 1983',
 '26 May 2010',
 '18 Jan 1990',
 '15 Jun 1985',
 '10 Dec 1982',
 '09 Dec 1988',
 '18 August 1995',
 '13 June 1974',
 '26 May 2008',
 '11 Nov 2002',
 '17 Aug 1985',
 '13 Oct 2016',
 '14 Jan 2008',
 '12 March 2004',
 '21 Oct 1977',
 '10 Aug 2000',
 '30 Nov 1972',
 '06 May 1993',
 '18 Jan 1995',
 'April 11, 1990',
 'May 30, 2001',
 'Feb 18, 1994',
 'February 18, 1981',
 'October. 11, 2013',
 'Jan 24 1986',
 'July 26, 1978',
 'December 23, 1999',
 'May 15, 1989',
 'September 06, 1995',
 'Mar. 10, 1976',
 'Jan 27, 1983',
 'October 23 1990',
 'August 12 2004',
 'September 01, 2012',
 'July 25, 1983',
 'August 11, 1989',
 'April 17, 1992',
 'July 24, 1999',
 'July 11, 1997',
 'Sep. 10, 1974',
 'August 14, 1981',
 'Nov 11, 1988',
 'June 13, 2011',
 'May 14, 1989',
 'Dec 14 1975',
 'June 25, 2012',
 'Oct 18, 1980',
 'May 15, 1998',
 'October 14 1974',
 'July 25, 1998',
 'June 15, 1972',
 'January 07, 1991',
 'September. 15, 2011',
 'September 1985',
 'June 2011',
 'May 1986',
 'May 2016',
 'July 1977',
 '1990',
 'Jul 2003',
 'Oct 2015',
 'May 1995',
 'February 1976',
 'January 1995',
 'Feb 1978',
 '2011',
 'May 2004',
 'Nov 2010',
 'Sep 2012',
 '2013',
 'November 1990',
 'July 1981',
 'May 1983',
 'July 1995',
 'April 1993',
 'May 2005',
 'December 1998',
 'Jan 2007',
 'Feb 2016',
 'August 1979',
 'Oct 2014',
 'Aug 1988',
 'Sep 2015',
 'Apr 1976',
 'Nov 1979',
 'February 2000',
 'Oct 1986',
 'Jun 2002',
 'September 1981',
 'June 2007',
 'April 1989',
 'September 1999',
 'Oct 1980',
 'Dec 2009',
 'July 1992',
 '2006',
 'August 2008',
 'Feb 1993',
 '2010',
 'April 1985',
 'September 1984',
 'April 1986',
 'Apr 2007',
 'September 1974',
 'Sep 2013',
 'July 1985',
 'Aug 2004',
 'May 2012',
 'Feb 1977',
 'Jan 1987',
 'Sep 1983',
 'January 2013',
 'Mar 2010',
 'August 2009',
 'Sep 2007',
 'December 2011',
 'Jan 2004',
 'November 1995',
 'September 2008',
 'February 1983',
 'March 1983',
 'Aug 1979',
 'Jan 2009',
 'Janaury 1993',
 'March 1974',
 'January 1994',
 'Dec 1992',
 'November 2004',
 'January 1977',
 'Mar 2002',
 'Feb 2000',
 '2004',
 'July 2006',
 'Feb 1994',
 'April 1977',
 'Oct 1992',
 '1995',
 'February 1989',
 'Decemeber 1978',
 'January 2007',
 'Jun 1976',
 'May 2011',
 '1975',
 'Jan 1978',
 'July 1975',
 'November 2012',
 '1999',
 'October 1991',
 'March 1973',
 'October 1996',
 'Jun 2007',
 'October 1995',
 'April 1999',
 '2001',
 '2000',
 'April 1988',
 'December 1993',
 'June 1974',
 'November 1997',
 'July 1986',
 'February 1973',
 'March 1978',
 'Dec 2007',
 '1998',
 '2005',
 'May 1980',
 'Nov 2007',
 'March 1976',
 '6/1998',
 '6/2005',
 '10/1973',
 '9/2005',
 '03/1980',
 '12/2005',
 '5/1987',
 '5/2004',
 '8/1974',
 '3/1986',
 '10/1997',
 '3/1993',
 '3/1981',
 '9/2003',
 '10/1993',
 '1/1983',
 '7/1994',
 '12/2008',
 '10/1980',
 '8/2003',
 '12/1975',
 '11/2010',
 '7/1997',
 '7/2014',
 '9/2001',
 '8/1986',
 '1/1978',
 '9/1975',
 '1/2009',
 '5/1995',
 '8/1989',
 '11/2000',
 '06/1973',
 '2/1999',
 '6/2001',
 '12/1978',
 '8/2009',
 '7/1973',
 '1/2014',
 '09/1975',
 '12/2012',
 '5/1999',
 '7/1989',
 '7/2009',
 '11/1998',
 '3/1995',
 '2/2009',
 '08/1988',
 '4/2007',
 '5/2000',
 '4/2012',
 '10/2001',
 '2/1977',
 '8/2008',
 '2/1983',
 '5/1979',
 '1/1992',
 '11/2008',
 '12/2014',
 '4/1974',
 '10/1981',
 '10/1986',
 '03/1973',
 '12/1994',
 '8/1999',
 '10/2010',
 '10/1994',
 '01/2007',
 '8/2010',
 '03/1990',
 '11/2016',
 '4/2004',
 '2/1973',
 '7/1987',
 '8/2000',
 '8/1975',
 '5/1977',
 '3/2000',
 '9/1984',
 '4/1973',
 '12/1986',
 '4/1979',
 '7/2004',
 '11/1984',
 '5/2016',
 '12/2007',
 '11/1982',
 '06/1981',
 '4/2013',
 '4/1999',
 '5/2006',
 '10/1978',
 '12/1989',
 '2/1974',
 '11/1986',
 '4/1983',
 '10/2014',
 '6/1989',
 '9/1980',
 '9/1992',
 '9/2000',
 '7/1981',
 '1/2008',
 '4/2002',
 '7/1985',
 '5/2010',
 '8/2002',
 '1/1994',
 '12/2004',
 '3/2003',
 '7/1991',
 '7/1982',
 '1984',
 '2000',
 '2001',
 '1982',
 '1998',
 '2012',
 '1991',
 '1988',
 '2014',
 '2016',
 '1976',
 '1981',
 '2011',
 '1997',
 '2003',
 '1983',
 '1999',
 '2010',
 '1975',
 '1972',
 '2015',
 '1989',
 '1994',
 '1993',
 '1996',
 '2013',
 '1974',
 '1990',
 '1995',
 '2004',
 '1987',
 '1973',
 '1992',
 '1977',
 '1985',
 '2007',
 '2009',
 '1986',
 '1978',
 '2002',
 '1979',
 '2006',
 '2008',
 '2005',
 '1980']

### Normalize the extracted dates

In [162]:
def get_year_month_day(match):
        year = int(match.group('year'))
        month = str(match.group('month')) if match.group('month') else 1
        day = int(match.group('day')) if match.group('day') else 1
        return year, month, day

def normalize(data_ext):
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
              "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    normalized_data = []
    
    
    patterns = [
        r'(?:(?P<month>\d{1,2})[ -/.,])?(?:(?P<day>\d{1,2})[ -/.,])?(?P<year>\d{2,4})$',
        r'(?:(?P<day>\d{1,2})[ /.,-])?(?P<month>[a-zA-Z]+)[ /.,-]?(?P<year>\d{4})$',
        r'(?:(?P<month>[a-zA-Z]+)[\s.]+)?(?:(?P<day>\d{1,2})[ /.,-]+)?(?P<year>\d{4})$',
        r'^(?P<month>[A-Za-z]+)\s+(?P<year>\d+)$'
    ]
    
    for data in data_ext:
        match = None
        for pattern in patterns:
            match = re.match(pattern, data)
            if match:
                break

        if match:
            year, month, day = get_year_month_day(match)

        check = True
        
        if year < 1000:
            if year < 100:
                year += 1900
            else:
                check = False
    
        if check == True:
            if isinstance(month, str):
                if len(month) >= 3:
                    month = month[:3]
                    month = months.index(month) + 1
                month = int(month)

            normalized_data_date = "{:04d}-{:02d}-{:02d}".format(year, month, day)
            normalized_data.append(normalized_data_date)
    
    normalized_data = pd.DataFrame({"res": normalized_data, "index": range(0, len(normalized_data))})

    return normalized_data

normalized_data = normalize(extracted_data)
normalized_data

            res  index
0    1993-03-25      0
1    1985-06-18      1
2    1971-07-08      2
3    1975-09-27      3
4    1996-02-06      4
..          ...    ...
495  1979-01-01    495
496  2006-01-01    496
497  2008-01-01    497
498  2005-01-01    498
499  1980-01-01    499

[500 rows x 2 columns]

### Sort records in ascending chronological order

In [164]:
normalized_data = normalized_data.sort_values(by='res')
normalized_data = normalized_data.reset_index(drop=True)

normalized_data

            res  index
0    1971-04-10      9
1    1971-05-18     84
2    1971-07-08      2
3    1971-07-11     53
4    1971-09-12     28
..          ...    ...
495  2016-05-01    231
496  2016-05-30    141
497  2016-10-13    186
498  2016-10-19    161
499  2016-11-01    413

[500 rows x 2 columns]

<font color = blue >

### Expected Output

</font>

<table align= 'left'>
    <tr><td></td><td> res</td><td>index</td></tr>
    <tr><td>0</td><td> 1971-04-10</td><td>9</td></tr>    
    <tr><td>1</td><td>1971-05-18</td><td>84</td></tr>    
    <tr><td>2</td><td>1971-07-08</td><td>2</td></tr>    
    <tr><td>3</td><td>1971-07-11</td><td>53</td></tr>    
    <tr><td>4</td><td>1971-09-12</td><td>28</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>.</td></tr>    
    <tr><td>495 </td><td>2016-05-01</td><td>    427</td></tr>    
    <tr><td>496</td><td> 2016-05-30  </td><td>  141</td></tr>    
    <tr><td>497</td><td> 2016-10-13  </td><td>  186</td></tr>    
    <tr><td>498</td><td> 2016-10-19   </td><td> 161</td></tr>    
    <tr><td>499 </td><td>2016-11-01 </td><td>   413</td></tr>    
</table>