## Home task: pandas

### Question 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls', 
                        skiprows=17, 
                        skipfooter=38, 
                        usecols=[2, 3, 4, 5], 
                        names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])

    # Numbering from 1
    energy.index = range(1, len(energy) + 1)

    # Round '% Renewable' to 2 decimal places
    energy['% Renewable'] = energy['% Renewable'].round(2)

    # Raplace '...' to NaN
    energy = energy.replace('...', np.nan)

    # Convert 'Energy Supply' to gigajoules
    energy['Energy Supply'] *= 1000000

    # Rename countries
    country_replace = {
        "Republic of Korea": "South Korea",
        "United States of America": "United States",
        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
        "China, Hong Kong Special Administrative Region": "Hong Kong"
    }
    energy['Country'] = energy['Country'].replace(country_replace)

    # Delete numbers and parentheses
    energy['Country'] = energy['Country'].str.replace(r'\d', '', regex=True)
    energy['Country'] = energy['Country'].str.replace(r'\([^)]*\)', '', regex=True)
    
    # Load GDP data from "world_bank.csv"
    GDP = pd.read_csv("world_bank.csv", skiprows=4)
    GDP.index = range(1, len(GDP) + 1)

    # Rename countries  
    country_replace = {
        "Korea, Rep.": "South Korea",
        "Iran, Islamic Rep.": "Iran",
        "Hong Kong SAR, China": "Hong Kong"
    }
    GDP['Country Name'] = GDP['Country Name'].replace(country_replace)

    ScimEn = pd.read_excel('Energy Engineering and Power Technology.xlsx',)
    ScimEn.index = range(1, len(ScimEn) + 1)

    # Merge Energy and ScimEn
    energy_SciemEn_merged = pd.merge(energy, ScimEn, how='inner', on='Country')

    # Filter the top 15 countries by 'Rank'
    top_15_countries = energy_SciemEn_merged[energy_SciemEn_merged['Rank'] <= 15]

    # Extract GDP data for the years 2006-2015
    get_GDP = ['Country Name', 
                '2006', '2007', 
                '2008', '2009', 
                '2010', '2011', 
                '2012', '2013', 
                '2014', '2015']
    GDP = GDP[get_GDP]

    # Merge the filtered top 15 countries with GDP data
    energy_SciemEn_GDP_merged = pd.merge(top_15_countries, GDP, how='inner', left_on='Country', right_on='Country Name')

    # Drop the 'Country Name'
    energy_SciemEn_GDP_merged.drop('Country Name', axis=1, inplace=True)

    # Set index
    energy_SciemEn_GDP_merged.set_index('Country', inplace=True)

    # Need cloumns
    columns_need = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document',
                    'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable',
                    '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

    energy_SciemEn_GDP_merged = energy_SciemEn_GDP_merged[columns_need]
    
    return energy_SciemEn_GDP_merged

In [3]:
Result = answer_one()
Result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,25906,25237,495278,72475,19.12,212,5.386000e+09,231.0,11.81,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Brazil,15,25887,25493,260540,60487,10.06,145,1.214900e+10,59.0,69.65,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Canada,8,39036,38276,787010,125333,20.16,263,1.043100e+10,296.0,61.95,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
China,1,360468,358777,3947871,2705774,10.95,308,1.271910e+11,93.0,19.75,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
France,12,29351,28759,471469,79375,16.06,205,1.059700e+10,166.0,17.02,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Germany,6,47781,46767,641717,133693,13.43,230,1.326100e+10,165.0,17.90,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
India,3,76103,74167,760964,280893,10.00,217,3.319500e+10,26.0,14.97,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Italy,9,35991,34424,529459,123042,14.71,192,6.530000e+09,109.0,33.67,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
Japan,4,56249,55680,633294,136132,11.26,217,1.898400e+10,149.0,10.23,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
South Korea,10,35294,35005,503147,87529,14.26,182,1.100700e+10,221.0,2.28,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Russian Federation,7,43567,43290,175721,79765,4.03,103,3.070900e+10,214.0,17.29,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Spain,13,27880,27272,515485,88803,18.49,202,4.923000e+09,106.0,37.97,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12

### Question 2

In [4]:
def answer_two():
    Top15 = answer_one()
    Top15['Average GDP'] = Top15[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1)

    Top15.sort_values(by='Average GDP', ascending=False, inplace=True)
    
    average_GDP = Top15['Average GDP']

    return average_GDP

In [5]:
Result = answer_two()
Result

Country
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Name: Average GDP, dtype: float64

### Question 3

In [6]:
def answer_three():
    Top15 = answer_one()
    Top6 = Top15.iloc[5]
    
    GDP_2006 = Top6['2006']
    GDP_2015 = Top6['2015']

    GDP_change = GDP_2015 - GDP_2006
    Percentage_change = (GDP_change / GDP_2006) * 100

    return Percentage_change

In [7]:
Result = answer_three()
Result

12.117462049861796

### Question 4

In [8]:
def answer_four():
    Top15 = answer_one()
    Top15['Citations Ratio'] = Top15['Self-citations'] / Top15['Citations']

    max_ratio_country = Top15['Citations Ratio'].idxmax()
    max_ratio_value = Top15['Citations Ratio'].max()

    return max_ratio_country, max_ratio_value

In [9]:
Result = answer_four()
Result

('China', 0.6853754846599598)

### Question 5

In [10]:
def answer_five():
    Top15 = answer_one()
    Top15['Estimated Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']

    Top15 = Top15.sort_values(by='Estimated Population', ascending=False)

    third_populous_country = Top15.index[2]

    return third_populous_country

In [11]:
Result = answer_five()
Result

'Brazil'

### Question 6

In [12]:
def answer_six():
    Top15 = answer_one()
    Top15['Citable documents per Capita'] = Top15['Citable documents'] / Top15['Energy Supply per Capita']
    
    correlation = Top15['Citable documents per Capita'].corr(Top15['Energy Supply per Capita'])
    
    return correlation

In [13]:
Result = answer_six()
Result

-0.5675560141826227

### Question 7

In [14]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict = {
        'China': 'Asia',
        'United States': 'North America',
        'Japan': 'Asia',
        'United Kingdom': 'Europe',
        'Russian Federation': 'Europe',
        'Canada': 'North America',
        'Germany': 'Europe',
        'India': 'Asia',
        'France': 'Europe',
        'South Korea': 'Asia',
        'Italy': 'Europe',
        'Spain': 'Europe',
        'Iran': 'Asia',
        'Australia': 'Australia',
        'Brazil': 'South America'
    }

    Continents_df = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])

    for continent, countries in ContinentDict.items():
        population = Top15[Top15.index.isin([country for country, cont in ContinentDict.items() if cont == countries])]['Energy Supply']
        Continents_df.loc[countries] = [len(population), population.sum(), population.mean(), population.std()]

    return Continents_df

In [15]:
Result = answer_seven()
Result

               size           sum          mean           std
Asia            4.0  1.903770e+11  4.759425e+10  5.385213e+10
North America   1.0  1.043100e+10  1.043100e+10           NaN
Europe          5.0  6.602000e+10  1.320400e+10  1.032402e+10
Australia       1.0  5.386000e+09  5.386000e+09           NaN
South America   1.0  1.214900e+10  1.214900e+10           NaN